/* Global styles */

body {
    background-image: url('https://images.unsplash.com/photo-1599454661475-8a965fc06f23?ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cGFraXN0YW5pYXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  /* Header styles */
  
  header {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 3rem;
    text-align: center;
  }
  
  /* Button styles */
  
  #generate-btn {
    display: block;
    margin: 0 auto;
    padding: 15px 20px;
    background-color: #E64C3C;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  #generate-btn:hover {
    background-color: #FF7F66;
  }
  
  /* Recipe styles */
  
  #recipe-section {
    display: none;
    padding: 20px;
  }
  
  #recipe {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  h2 {
    margin: 0;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  p {
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  a {
    display: block;
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #E64C3C;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  a:hover {
    background-color: #FF7F66;
  }
  